[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,cxx,h,hpp,hxx,inl,ixx}]
indent_style = tab
indent_size = 4

[*.cmake]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.ppj]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf
